<div class="archives">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">JD White</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Archives</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/debris">Debris</a></li>
          <li><a href="/jdandscott">JD & Scott</a></li>
          <li><a href="http://www.blackmoontonic.com/">Black Moon Tonic</a></li>
          <li><a href="http://www.blackoktagon.com/">Black Oktagon</a></li>
          <li><a href="#">Desperados</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 content">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><strong>Downloads</strong></div>
          <div class="panel-body">
            <p>There is a wealth of music from JD White available for download here!</p>
          </div>

          <!-- Table -->
          <table class="table table-hover">
            <tr>
              <td class="left"><strong>Song</strong></td>
              <td class="right"></td>
              <td class="right"><strong>Size</strong></td>
              <td class="right"><strong>Length</strong></td>
            </tr>
            <tr>
              <td class="left">Danger Zone</td>
              <td class="right"><a href="downloads/dangerZone.mp3" download="Danger_Zone.mp3">Download</a></td>
              <td class="right">3.1 MB</td>
              <td class="right">3:15</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>      

</div>
