<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">JD White</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="archives.html">Archives</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="debris.html">Debris</a></li>
        <li><a href="jdAndScott.html">JD & Scott</a></li>
        <li><a href="http://www.blackmoontonic.com/">Black Moon Tonic</a></li>
        <li><a href="http://www.blackoktagon.com/">Black Oktagon</a></li>
        <li><a href="#">Desperados</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


      
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <img src="assets/1blackOktagon.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>  

<div class="container content">
  <div class="row">

    <!-- Info -->
    <div class="col-xs-12 info">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;JD has several musical avenues these days. He is playing most frequently with Scott Davidow - some acoustic numbers with Scott adding electric lead and rhythm - and with Black Moon Tonic, a local band playing fun music, both originals and a wide range of covers. </p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;JD also occasionally plays with the band he's played with for a very long time, Debris. They started in school and share a love of early punk, rock, and pop, with some occasional twang. </p>

          <p>&nbsp;&nbsp;&nbsp;&nbsp;And JD also fills in with two combos on the one-off shows they tend toward - Black Oktagon (with the irrepressable Dr. Robinson) and the perennial favorites from Del Ray, the Desperados. </p>
        </div>
      </div>
    </div>
    
    <!-- Gigs -->
    <div class="col-xs-12 col-md-6 gigs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming Gigs</h3>
        </div>
        <!--<div class="panel-body">
          <p>Enter your email address to recieve updates on upcoming shows.</p>
          <form action="emails.asp" method="post" class="form-inline">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class"form-control" id="inputEmail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>-->
        <table class="table table-hover">
          <tr>
            <td><strong>JD & Scott</strong></td>
            <td><a href="http://www.treehouselounge.com/">The Tree House Lounge</a></td>
            <td>April 25th</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- News -->
    <div class="col-xs-12 col-md-6 news">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">News</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><p>This week, watch us on Youtube!</p></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>
    <!-- Media -->
    <div class="col-xs-12 media">
      
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/79757232&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    </div>
  </div><!-- /.row -->
  <div class="row bottom-space"></div>
</div><!-- /.container -->

<!-- footer -->        
<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12">
      <p>Website by Nick White</p>
    </div>
  </div>
</div>
