<div class="jdandscott">

  <div class="container heading">
    <div class="row">
      <div class="col-xs-12 headroom"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="headLeft">
          <h1 class="names">JD & Scott</h1>
          <div class="panel panel-default schedule">
            <!-- Default panel contents -->
            <div class="panel-heading">Upcoming Shows</div>
            <table class="table table-condensed table-hover">
              <tr>
                <td><a href="http://www.treehouselounge.com/">The Tree House Lounge</a></td>
                <td>Saturday, April 25th</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div><!-- panel -->
        </div><!-- divHeadLeft -->
      </div><!-- colHeadleft -->
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0">
        <img src="assets/jdAndScottAtTHL2014.jpg" alt="" class="img-circle">
      </div>
    </div><!-- row -->
  </div><!-- container -->

  <div class="container-fluid content">
    <div class="row">
      <div class="col-xs-12 info">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Guitar duo JD and Scott play music that ignites the soul with selections from the last five decades along with occasional original songs.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 media">
        
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/79757232&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

      </div>
    </div><!-- row -->
  </div><!-- container -->

</div>