<div class="jdandscott">

  <div class="container heading">
    <div class="row">
      <div class="col-xs-12 headroom"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="headLeft">
          <h1 class="names">JD & Scott</h1>
          <div class="panel panel-default schedule">
            <!-- Default panel contents -->
            <div class="panel-heading">Upcoming Shows</div>
            <table class="table table-condensed table-hover">
              <tr>
                <td><a href="http://www.treehouselounge.com/">The Tree House Lounge</a></td>
                <td>Saturday, April 25th</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div><!-- panel -->
        </div><!-- divHeadLeft -->
      </div><!-- colHeadleft -->
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0">
        <img src="assets/jdAndScottAtTHL2014.jpg" alt="" class="img-circle">
      </div>
    </div><!-- row -->
  </div><!-- container -->

  <div class="container-fluid content">
    <div class="row">
      <div class="col-xs-12 info">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Guitar duo JD and Scott play music that ignites the soul with selections from the last five decades along with occasional original songs.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 media">
        
        <div class="widget_iframe" style="display:inline-block;width:100%;height:320px;margin:0;padding:0;border:0;"><iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_3958123?widget_id=50&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe><div class="footer_branding" style="margin-top:-5px;font-size:10px;font-family:Arial;"><center><a href="http://www.reverbnation.com/band-promotion/promoteit?utm_campaign=a_features_promote_it&utm_medium=widget&utm_source=HTML5_Player&utm_content=widgetfooter_Learn how to get your music noticed at ReverbNation.com" target="_blank" style="text-decoration:none;color:#444;">Learn how to get your music noticed at ReverbNation.com</a></center></div></div>

      </div>
    </div><!-- row -->
  </div><!-- container -->

</div>