/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * @import "bootstrap-sprockets"
 * @import "bootstrap"
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* home css */
.home {
	$primary-color: #93979C;
	$secondary-color: #955f26;

	background: $primary-color;

	.navbar-inverse {
	  border-radius: 0;
	  margin-bottom: 0;
	  background-color: #03070C;
	  .navbar-right {
	    li {
	      padding-right: 20px;
	    }
	  }
	}


	.jumbotron {
	  background: $secondary-color;
	  padding-top: 1%;
	  padding-bottom: 1%;
	}

	.content {

	  .info {

	  }
	  .media {

	  }
	  .gigs {

	  }
	}

	.panel {

	  .panel-heading {
	    background: #888888;
	  }
	  .panel-body {
	    background: #cccccc;
	  }
	  .list-group {
	    background: #cccccc;
	  }
	  .list-group-item {
	    background: #cccccc;
	  }
	  .table {
	    background: #cccccc;
	    a {
	      color: black;
	      text-decoration: underline;
	    }
	  }
	}

	.bottom-space {
	  height: 20px;
	}

	.footer {
	  text-align: center;
	  background: #03070C;
	  color: #555555;
	  border-top: 1px solid #555555;
	}
}

/* jdandscott css */
.jdandscott {
	background-color: #999;

	.headroom {
		margin: 2%;
	}
	.img-circle {
		width: 100%;
	}
	.names {
		margin-top: 10%;
		text-align: center;
	}
	.schedule {
		margin-top: 10%;
		.panel-heading {
			text-align: center;
		}
		.table {
			a {
				color: black;
				text-decoration: underline;
			}
			td:nth-child(2) {
				text-align: right;
			}
		}
	}

	.content {
		margin-top: 4%;
	}
}

/* debris css */
.debris {
	$primary-color: #333;
	$secondary-color: white;

	background-color: $primary-color;
	border: 3px solid $secondary-color;

	.header {
		border-top: 3px solid $secondary-color;
		border-bottom: 3px solid $secondary-color;
		text-align: center;
		color: $secondary-color;
		h1 {
			margin: 1%;
		}
	}
	.pic {
		border: 3px solid $secondary-color;
		padding: 0;
		box-shadow: 0 0 2px $secondary-color;
	}
	.content {
		margin-top: 2%;
		margin-bottom: 2%;
		.myPanels {
			background-color: $secondary-color;
			color: $primary-color;
			box-shadow: 0 0 2px $secondary-color;
		}
		.photoAlbum {
			margin-right: 5px;
			margin-left: -5px;
		}
		.about {

		}
		.discography {
			margin-left: 5px;
			margin-right: -5px;
		}
	}
}

/* archives css */
.archives {
	$primary-color: #93979C;
	$secondary-color: #955f26;

	background: $primary-color;

	.navbar-inverse {
	background-color: #03070C;
	  border-radius: 0;
	  margin: 0;
	  .navbar-right {
	    li {
	      padding-right: 20px;
	    }
	  }
	}

	.content {
	  margin-top: 3%;
	  margin-bottom: 3%;
	}

	.table {
	  .left {
	    text-align: left;
	  }
	  .center {
	    text-align: center;
	  }
	  .right {
	    text-align: right;
	  }
	}
}